<div class="container">
    <form class="form">
        <h1>Help Desk - Login</h1>

        <img src="assets/img/login-image.svg" alt="HelpDesk">
        <!--Email-->
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input 
                matInput 
                placeholder="usuario@mail.com" 
                [(ngModel)]="creds.email" 
                name="email"
                required
                [formControl]="email"/>
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <!--Senha-->
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input 
                type="password" 
                matInput 
                placeholder="Ex. 123" 
                [(ngModel)]="creds.senha" 
                name="senha"
                required
                [formControl]="senha">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <!-- Botão Login -->
        <button 
            mat-stroked-button 
            color="primary" 
            class="full-width mat-elevation-z3"
            [disabled]="!validaCampos()"
            (click)="logar()">Login
        </button>

    </form>
</div>