<div class="container">
    <form class="form">
        <h1>Help Desk - Login</h1>

        <img src="assets/img/login-image.svg" alt="HelpDesk">
        <!--Email-->
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="usuario@mail.com"/>
        </mat-form-field>

        <!--Senha-->
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Ex. 123">
        </mat-form-field>

        <button mat-stroked-button color="primary" class="full-width mat-elevation-z3">Login</button>
    </form>
</div>